        <!-- Info Card - City Details -->
<div id="details" class="cardSection">
    <div class="cardBox">
        <div id="infoCardCityName" class="cardHeader"></div>
        <div id="mapContainer" class="cardMap"></div>
        <div class="carousel">
            <!--START------CAROUSEL-->

            <div class="carousel">

                <button class="carousel_button carousel_button--left is-hidden">
                    <img src="~/FrontEnd/BTA/img/back.svg" />
                </button>
                <div class="carousel_track-container">
                    <ul class="carousel_track">
                        <li class="carousel_slide current-slide">
                            <img class="carousel_img" src="~/FrontEnd/BTA/img/lisabon1.jpg" alt="dublin">
                        </li>
                        <li class="carousel_slide">
                            <img class="carousel_img" src="~/FrontEnd/BTA/img/budapest1.jpg" alt="budapest">
                        </li>
                        <li class="carousel_slide">
                            <img class="carousel_img" src="~/FrontEnd/BTA/img/rabat1.jpg" alt="rabat">
                        </li>
                    </ul>
                </div>
                <button class="carousel_button carousel_button--right">
                    <img src="~/FrontEnd/BTA/img/right-arrow.svg">
                </button>
                <div class="carousel_nav">
                    <button class="carousel_indicator current-slide"></button>
                    <button class="carousel_indicator"></button>
                    <button class="carousel_indicator"></button>
                </div>

            </div>
            <!--END------CAROUSEL-->
        </div>
        <div class="cardTextInfo">
            <textarea id="subject" name="subject" placeholder="Write something.."></textarea>
            <span>
                <div class="levo">
                    <a href="#">Save</a>
                </div>
                <div class="desno">
                    <a href="#">Cancel</a>
                </div>
            </span>
        </div>

    </div>

</div>

<!-- END - Info Card - City Details -->
