@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');

*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

.komplet{
    font-family: 'Titillium Web', sans-serif;
}

header{
    border: 0;
    margin: 0;
    width: 100%;
    height: 64px;
}
.menu-icon{
    width: 100%;
    background: #000;
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    display: none;
}
.logo{
    position: absolute;
    float: left;
    margin: 16px 30px;
    color: #0e89a5;
    font-weight: bold;
    font-size: 1.5rem;
    letter-spacing: 2px;
}
nav{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: lightgray;
}
nav ul{
    list-style: none;
    background: rgba(0, 0, 0, 0);
    overflow: hidden;
    padding: 0;
    text-align: center;
    margin: 0;
    transition: 1s ease-in;
}

nav.black ul{
    background: #000;
}
.menu{
    transition: 1s;
}
nav ul li{
    display: inline-block;
    padding: 20px;
    transition: 0.7s ease-in;
}
nav ul li:hover{
    background: #0e89a5;
}

nav ul li a:hover{
    color: black;
}
nav ul li a{
    text-decoration: none;
    color: #0e89a5;
    font-size: 1rem;
}
/*-------Card Section------*/
.cardBox{
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    height: 70vh;
    width: 70%;
    margin: 0 auto;
    padding: 0;
    z-index: 1;
}
.sideBtn{
    position: absolute;
    top: 50%;
    /*transform: translateX(auto);*/
    left: 70.5%;
    z-index: 1;
}
.sideBtn a{
    background: #0e89a5;
    color: white;
    font-size: 22px;
    display: block;
    width: 130px;
    padding: 12px;
    text-decoration: none;
    margin: 8px 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-left: -52%;
    z-index: -1;
    transition: 0.6s all;
}
.sideBtn a:hover{
    margin-left: 0;
}
.ifa{
    position: absolute;
    right: 0;
}
.edit i{
    padding-left: 32px;
    color: white;
}
.delete i{
    padding-left: 10px;
    color: white;
}
.save i{
    padding-left: 30px;
    color: white;
}
.cardBody{
    display: flex;
    flex-direction: column;
    align-content: stretch;
    width: 60%;
    height: 70%;
    border: 1px solid #0e89a5;
    border-radius: 5px;
    margin:auto 0;
    padding: 0;
    box-sizing: border-box;
   
}
.cardHeader{
    width: 100%;
    height: 3rem;
    border: 0;
    text-align: center;
    letter-spacing: 0.2rem;
    line-height: 3rem;
    font-weight: 600;
    font-size: 2.5rem;
    color: #0e89a5;
}
.cardPic{
    width: 100%;
    height: 20rem;
    border: 0;
    background: url("../img/dublin1.jpg");
    background-size: cover;
    background-position:center;
    background-size: 100% 15rem;
    background-repeat: no-repeat;
    z-index: 1;
}

.textMap{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 1;
}
#mapContainer{
    width: 40%;
    height: 100%;
    border: 0;
    border-bottom-left-radius: 5px;
}
#mapContainer img{
    max-width: 100%;
    height: 100%;
}
.cardText{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin: auto;
    flex-direction: column;
    border-bottom-right-radius: 5px;
}
.levo{
    float: left;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;  
    background-color: green; 
    cursor: pointer;
    position: relative;
    z-index: 1;
}
.levo::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.5);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 350ms ease-in;
}
.levo:hover::after{
    transform: scaleX(1);
    transform-origin: left;
}
.desno{
    float: left;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;    
    cursor: pointer;
    position: relative;
    z-index: 1;
    border-bottom-right-radius: 5px;
}
.desno::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.5);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 350ms ease-in;
}
.desno:hover::after{
    transform: scaleX(1);
    transform-origin: left;
}
.levo a{
    color: white;
    width: 90%;
    text-align: center;
}
.levo > a:hover{
    color: aquamarine;
}
.desno a{
    color: white;
    width: 90%;
    text-align: center;
}
.desno > a:hover{
    color: aquamarine;
}
a:hover{
    text-decoration: none;
    color: white;
}
textarea {
    width: 100%;
    height: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }

/*-------Footer----------*/
footer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: black;
    height: 25vh;
    width: 100%;
    text-align: center;
    align-content: center;
    align-items: center;
    color: #0e89a5;
    letter-spacing: 0.3rem;
}
footer p {
    padding: 0;
}
.social{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    justify-content: center;
    text-align: center;
    align-content: center;
    align-items: center;
}
.social a{
    padding: 0 0.7rem;
}
hr{
    color: white;
    width: 40%;
    border-bottom: 2px solid #0e89a5;
}