
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BTA | Feedbacks</title>
    <script src="https://code.jquery.com/jquery-3.4.0.js"
            integrity="sha256-DYZMCC8HTC+QDr5QNaIcfR7VSPtcISykd+6eSmBW5qo="
            crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="~/FrontEnd/BTA/Css/Feedbacks.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/966e3b6ec4.js"></script>

</head>
<body>
    <div class="komplet">
        <header>

            @Html.Partial("_NavBar")
        </header>
        <div class="category">
            <div class="middle">
                <a class="but" href="#">
                    <i class="fa fa-folder" aria-hidden="true"></i>
                    <p class="ctg">All</p>

                </a>
                <a class="but" href="#">
                    <i class="fa fa-globe" aria-hidden="true"></i>
                    <p class="ctg">Life In City</p>
                </a>
                <a class="but" href="#">
                    <i class="fa fa-bed" aria-hidden="true"></i>
                    <p class="ctg">Accommodation</p>
                </a>
                <a class="but" href="#">
                    <i class="fa fa-rocket" aria-hidden="true"></i>
                    <p class="ctg">Transport</p>
                </a>
            </div>
        </div>
        <div class="statment">
            <h1>Choose your feebacks with</h1><br>
            <h2>Bussines Trip Advisor</h2>
            <p class="fewwords">
                Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
            </p>
        </div>
        <section>
            <div class="card-wrapper">
                <!-- Prva kartica-->
                <div class="card radius shadowDepth1">

                    <div class="card__content card__padding">
                        <div class="card__meta">
                            <a href="#">Food</a>
                            <time>17th March</time>
                        </div>

                        <article class="card__article">
                            <h2><a href="#">Food in Berlin</a></h2>

                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus harum...</p>
                        </article>
                    </div>
                    <hr>
                    <div class="card__action">

                        <div class="card__author">
                            <img src="http://lorempixel.com/40/40/sports/" alt="user">
                            <div class="card__author-content">

                                By: <a href="#">Optimus Prime</a>
                                <p>Ocena : 4</p>

                            </div>
                        </div>
                    </div>
                </div>

                <!-- Druga kartica-->

                <div class="card radius shadowDepth1">

                    <div class="card__content card__padding">
                        <div class="card__meta">
                            <a href="#">Food</a>
                            <time>17th March</time>
                        </div>

                        <article class="card__article">
                            <h2><a href="#">Food in Berlin</a></h2>

                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus harum...</p>
                        </article>
                    </div>
                    <hr>
                    <div class="card__action">

                        <div class="card__author">
                            <img src="http://lorempixel.com/40/40/sports/" alt="user">
                            <div class="card__author-content">

                                By: <a href="#">Optimus Prime</a>
                                <p>Ocena : 4</p>

                            </div>
                        </div>
                    </div>
                </div>

                <!-- Treca kartica-->
                <div class="card radius shadowDepth1">

                    <div class="card__content card__padding">
                        <div class="card__meta">
                            <a href="#">Food</a>
                            <time>17th March</time>
                        </div>

                        <article class="card__article">
                            <h2><a href="#">Food in Berlin</a></h2>

                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus harum...</p>
                        </article>
                    </div>
                    <hr>
                    <div class="card__action">

                        <div class="card__author">
                            <img src="http://lorempixel.com/40/40/sports/" alt="user">
                            <div class="card__author-content">

                                By: <a href="#">Optimus Prime</a>
                                <p>Ocena : 4</p>

                            </div>
                        </div>
                    </div>
                </div>

                <!-- Cetvrta kartica-->
                <div class="card radius shadowDepth1">

                    <div class="card__content card__padding">
                        <div class="card__meta">
                            <a href="#">Food</a>
                            <time>17th March</time>
                        </div>

                        <article class="card__article">
                            <h2><a href="#">Food in Berlin</a></h2>

                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus harum...</p>
                        </article>
                    </div>
                    <hr>
                    <div class="card__action">

                        <div class="card__author">
                            <img src="http://lorempixel.com/40/40/sports/" alt="user">
                            <div class="card__author-content">

                                By: <a href="#">Optimus Prime</a>
                                <p>Ocena : 4</p>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>

        @Html.Partial("_Footer")
    </div>

    <script type="text/javascript">
        //toogle button
        $(document).ready(function(){
            $(".menu-icon").on("click",function(){
                $("nav ul li").toggleClass("showing");
            });
        });

        //scrolling effect
        $(window).on("scroll", function(){
            if($(window).scrollTop()){
                $('nav').addClass('black');
            }
            else{
                $('nav').removeClass('black');
            }
        })

    </script>
</body>
</html>