@{
    ViewBag.Title = "Home Page";
    Layout = "";
}
@using Microsoft.AspNet.Identity
<!--@User.IsInRole("admin")-->
@if (Request.IsAuthenticated)
{
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>BTA | Home</title>
        <script src="https://code.jquery.com/jquery-3.4.0.js"
                integrity="sha256-DYZMCC8HTC+QDr5QNaIcfR7VSPtcISykd+6eSmBW5qo="
                crossorigin="anonymous">
        </script>
        <link href="~/FrontEnd/BTA/Css/homeStyle.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <header>

                @Html.Partial("_NavBar")

                <div class="statment">
                    <h1>Where to travel</h1>
                    <p>Explore bla bla</p>
                </div>
            </header>
            <main>
                <h1>What we are offering</h1>
                <div class="explain">
                    <div class="oneExplain">
                        <h3>Choose city</h3>
                        <i class="fa fa-globe fa-2x" aria-hidden="true"></i>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                            It has survived not only five centuries, but also the leap into electronic typesetting,
                            remaining essentially unchanged.
                            Why do we use it?
                        </p>
                    </div>
                    <div class="oneExplain">
                        <h3>Choose accommodation</h3>
                        <i class="fa fa-building fa-2x" aria-hidden="true"></i>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                            It has survived not only five centuries, but also the leap into electronic typesetting,
                            remaining essentially unchanged.
                            Why do we use it?
                        </p>
                    </div>
                    <div class="oneExplain">
                        <h3>Choose transport</h3>
                        <i class="fa fa-rocket fa-2x" aria-hidden="true"></i>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                            It has survived not only five centuries, but also the leap into electronic typesetting,
                            remaining essentially unchanged.
                            Why do we use it?
                        </p>
                    </div>
                </div>

            </main>
            <div id="slika2">

            </div>
            <section>
                <div class="testimonials">
                    <!--Inner-->
                    <h1>Testimonials</h1>
                    <h3>Satisfied users of our app</h3>
                    <div class="border"></div>

                    <div class="row">
                        <div class="col">
                            <div class="testimonial">

                                <img src="~/FrontEnd/BTA/img/Podrick.jpg" alt="podrick payne" />
                                <div class="name">Podrick Payne</div>
                                <div class="stars">
                                    <i class="fas fa-star" aria-hidden="true"></i>
                                    <i class="fas fa-star" aria-hidden="true"></i>
                                    <i class="fas fa-star" aria-hidden="true"></i>
                                    <i class="fas fa-star" aria-hidden="true"></i>
                                    <i class="fas fa-star" aria-hidden="true"></i>
                                </div>

                                <p>
                                    <q>
                                        Served me well!
                                        Lorem Ipsum is
                                        simply dummy text of the printing and typesetting industry.
                                    </q>
                                </p>
                            </div>
                        </div>
                        <!--Second Testimonial-->
                        <div class="col">
                            <div class="testimonial">
                                <img src="~/FrontEnd/BTA/img/Ayra.jpg" alt="arya stark" />

                                <div class="name">Arya Stark</div>
                                <div class="stars">
                                    <i class="fas fa-star" aria-hidden="true"></i>
                                    <i class="fas fa-star" aria-hidden="true"></i>
                                    <i class="fas fa-star" aria-hidden="true"></i>
                                    <i class="fas fa-star" aria-hidden="true"></i>
                                    <i class="fas fa-star" aria-hidden="true"></i>
                                </div>

                                <p>
                                    <q>
                                        This App is a killer!
                                        Lorem Ipsum is
                                        simply dummy text of the printing and typesetting industry.
                                    </q>
                                </p>
                            </div>
                        </div>
                        <!--Third Testimonial-->
                        <div class="col">
                            <div class="testimonial">
                                <img src="~/FrontEnd/BTA/img/Hound.jpg" alt="The hound" />

                                <div class="name">Sandor Clegane</div>
                                <div class="stars">
                                    <i class="fas fa-star" aria-hidden="true"></i>
                                    <i class="fas fa-star" aria-hidden="true"></i>
                                    <i class="fas fa-star" aria-hidden="true"></i>
                                    <i class="fas fa-star" aria-hidden="true"></i>
                                    <i class="fas fa-star" aria-hidden="true"></i>
                                </div>

                                <p>
                                    <q>
                                        Not Bad App!
                                        Lorem Ipsum is
                                        simply dummy text of the printing and typesetting industry.
                                    </q>
                                </p>
                            </div>
                        </div>

                    </div>

                </div>

            </section>

            @Html.Partial("_Footer")

        </div>

        <script src="~/FrontEnd/BTA/script.js"></script>
        <script type="text/javascript">
            //toogle button
            $(document).ready(function () {
                $(".menu-icon").on("click", function () {
                    $("nav ul li").toggleClass("showing");
                });
            });

            //scrolling effect
            $(window).on("scroll", function () {
                if ($(window).scrollTop()) {
                    $('nav').addClass('black');
                }
                else {
                    $('nav').removeClass('black');
                }
            })
        </script>
    </body>
</html>
}
else
{
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign In | Sign Up</title>
    <link href="~/FrontEnd/BTA/Css/signIn.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h1>Buissnies Trip Advisor</h1>

        <h3>Transform life into vacation</h3>

        <p>
            Find a place that fit you best.
        </p>

    </div>
    <footer>
        <div class="levo">
            <a href="~/account/login">
                SIGN IN
            </a>
        </div>
        <div class="desno">
            <a href="~/account/register">
                SIGN UP
            </a>
        </div>
    </footer>
</body>
</html>
}


