@using Microsoft.AspNet.Identity
@{
  ViewBag.Title = "LifeInDifferentCountries";
  Layout = "";
}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>BTA | Life In Country</title>
  <script src="https://code.jquery.com/jquery-3.4.0.js"
          integrity="sha256-DYZMCC8HTC+QDr5QNaIcfR7VSPtcISykd+6eSmBW5qo="
          crossorigin="anonymous">
  </script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="~/FrontEnd/BTA/Css/lifeCountryStyle.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/966e3b6ec4.js"></script>


</head>
<body>
    <div class="komplet">
        <header>
            <nav>
                <div class="menu-icon">
                    <i class="fa fa-bars fa-2x"></i>
                </div>
                <div class="logo">
                    Business Trip Advisor
                </div>
                <div class="menu">
                    <ul>
                        <li><a href="/">Home</a> </li>
                        <li><a href="/Home/LifeInDifferentCountries">Life In Different Countries</a> </li>
                        <li><a href="/Home/Accommodations">Accommodation</a> </li>
                        <li><a href="#">Transportation</a> </li>
                        <li><a href="#">Feedbacks</a> </li>
                        <li><a href="#">Providers</a> </li>
                        <li>
                            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                            {
                                @Html.AntiForgeryToken()
                                <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>

                            }
                        </li>
                        <!--<li><a href="#">LogOut</a> </li>-->
                        <li><a href="/Home/CitiesCRUD"><i class="fas fa-plus-square fa-2x"></i></a></li>
                    </ul>

                </div>

            </nav>
            <div class="choosecity">
                <span>
                    <p>Where to go ?</p>
                    <input type="text" id="town" placeholder="Choose city" aria-autocomplete="list">
                </span>
            </div>
        </header>
        <div class="category">
            <div class="middle">
                <a class="but" href="#">
                    <i class="fas fa-hamburger"></i>
                    <p class="ctg">Food</p>

                </a>
                <a class="but" href="#">
                    <i class="fas fa-user-shield"></i>
                    <p class="ctg">Safety</p>
                </a>
                <a class="but" href="#">
                    <i class="fas fa-university"></i>
                    <p class="ctg">Local Culture</p>
                </a>
                <a class="but" href="#">
                    <i class="fas fa-bus"></i>
                    <p class="ctg">Local Transport</p>
                </a>
                <a class="but" href="#">
                    <i class="fas fa-plane"></i>
                    <p class="ctg">Airport</p>
                </a>
            </div>
        </div>
        <div class="statment">
            <h1>Discover your city with</h1><br>
            <h1>Bussines Trip Advisor</h1>
            <p class="fewwords">
                Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
            </p>
        </div>
        <div id="ponuda">
            <div id="card">
                <div class="row ">
                    <div class="picbox">
                        <div class="pic">

                        </div>
                    </div>
                    <div class="descriptionBox">
                        <div class="card-block px-3">
                            <h2 class="card-title">Dublin</h2>
                            <p class="cardText">
                                Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                            </p>
                            <a href="#" class="btn btn-primary">Read More</a>
                        </div>
                    </div>

                </div>
            </div>
            <!--Second Card-->
            <div id="card">
                <div class="row ">
                    <div class="picbox">
                        <div class="pic">

                        </div>
                    </div>
                    <div class="descriptionBox">
                        <div class="card-block px-3">
                            <h2 class="card-title">Dublin</h2>
                            <p class="cardText">
                                Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                            </p>
                            <a href="#" class="btn btn-primary">Read More</a>
                        </div>
                    </div>

                </div>
            </div>
            <!--Third Card-->
            <div id="card">
                <div class="row ">
                    <div class="picbox">
                        <div class="pic">

                        </div>
                    </div>
                    <div class="descriptionBox">
                        <div class="card-block px-3">
                            <h2 class="card-title">Dublin</h2>
                            <p class="cardText">
                                Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                            </p>
                            <a href="#" class="btn btn-primary">Read More</a>
                        </div>
                    </div>

                </div>
            </div>
            <!--Fourth Card-->
            <div id="card">
                <div class="row ">
                    <div class="picbox">
                        <div class="pic">

                        </div>
                    </div>
                    <div class="descriptionBox">
                        <div class="card-block px-3">
                            <h2 class="card-title">Dublin</h2>
                            <p class="cardText">
                                Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                            </p>
                            <a href="#" class="btn btn-primary">Read More</a>
                        </div>
                    </div>

                </div>
            </div>

            @*
            <div class="card" style="width: 35rem;">
              <img class="card-img-top" src="~/FrontEnd/BTA/img/budapest1.jpg" alt="Card image cap" />
              <div class="card-body">
                <p class="card-text">
                  Budapest great place for adventure.
                  Fantastic cousine and friendly people
                  Lorem Ipsum is simply dummy text of the
                  printing and typesetting industry.
                  Lorem Ipsum has been the industry's
                  standard dummy text ever since the 1500s,
                  when an unknown printer took a galley
                </p>
              </div>
            </div>

            <div class="card" style="width: 35rem;">
              <img class="card-img-top" src="~/FrontEnd/BTA/img/dublin1.jpg" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">
                  Dublin great place for adventure.
                  Fantastic cousine and friendly people
                  Lorem Ipsum is simply dummy text of the
                  printing and typesetting industry.
                  Lorem Ipsum has been the industry's
                  standard dummy text ever since the 1500s,
                  when an unknown printer took a galley
                </p>
              </div>
            </div>

            <div class="card" style="width: 35rem;">
              <img class="card-img-top" src="~/FrontEnd/BTA/img/rabat1.jpg" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">
                  Rabat great place for adventure.
                  Fantastic cousine and friendly people
                  Lorem Ipsum is simply dummy text of the
                  printing and typesetting industry.
                  Lorem Ipsum has been the industry's
                  standard dummy text ever since the 1500s,
                  when an unknown printer took a galley
                </p>
              </div>
            </div>
            *@
        </div>
        <footer>
            <p>Follow us on social media:</p>
            <div class="social">
                
                <a href="https://www.facebook.com/TripAdvisor" target="_blank"><img src="~/FrontEnd/BTA/img/icons8-facebook-circled-48.png" alt="facebook" /></a>
                <a href="https://www.instagram.com/tripadvisor/?hl=sr" target="_blank"><img src="~/FrontEnd/BTA/img/icons8-instagram-48.png" alt="instagram"/></a>
                <a href="https://twitter.com/tripadvisor" target="_blank"><img src="~/FrontEnd/BTA/img/icons8-twitter-circled-48.png" alt="twitter"/></a>
            </div>
            <hr>
            <p>Copyright 2019 BTA</p>
        </footer>
    </div>

  <script src="~/FrontEnd/BTA/script.js"></script>
  <script type="text/javascript">
    //toogle button
    $(document).ready(function () {
      $(".menu-icon").on("click", function () {
        $("nav ul li").toggleClass("showing");
      });
    });

    //scrolling effect
    $(window).on("scroll", function () {
      if ($(window).scrollTop()) {
        $('nav').addClass('black');
      }
      else {
        $('nav').removeClass('black');
      }
    })

    $.ajax({
      url: "/api/cities",
      method: "GET",
      success: function (responseData) {
        if (responseData.length == 0)
          $("#ponuda").append("<p>There are no cities in database.");
        else {
          for (var i = 0; i < responseData.length; ++i) {
            var city = responseData[i];
            $("#ponuda").append(`<div class="card" style="width: 35rem;"><img class="card-img-top" src="/FrontEnd/BTA/img/lisabon1.jpg" alt="Card image cap"><div class="card-body"><h5 class="card-title">${city.name}</h5><p class="card-text">${city.description}</p></div></div>`);
          }
        }
      }
    });
  </script>
</body>
</html>