
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BTA | Transportation</title>
</head>
<script src="https://code.jquery.com/jquery-3.4.0.js"
        integrity="sha256-DYZMCC8HTC+QDr5QNaIcfR7VSPtcISykd+6eSmBW5qo="
        crossorigin="anonymous">
</script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="~/FrontEnd/BTA/Css/Transport.css" rel="stylesheet" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<script src="https://kit.fontawesome.com/966e3b6ec4.js"></script>
<body>
    <div class="komplet">
        <header>
            @*
                <nav>
                    <div class="menu-icon">
                        <i class="fa fa-bars fa-2x"></i>
                    </div>
                    <div class="logo">
                        Business Trip Advisor
                    </div>
                    <div class="menu">
                        <ul>
                            <li><a href="#">Home</a> </li>
                            <li><a href="#">Life In Different Countries</a> </li>
                            <li><a href="#">Accommodation</a> </li>
                            <li><a href="#">Transportation</a> </li>
                            <li><a href="#">Feedbacks</a> </li>
                            <li><a href="#">Providers</a> </li>
                            <li><a href="#">LogOut</a> </li>
                            <li><a href="#"><i class="fas fa-plus-square fa-2x"><br><p class="ip">Add city</p></i></a></li>
                        </ul>
                        <div class="weather">
                            <img id='image'>
                            <span id="demo"></span>
                        </div>
                    </div>

                </nav>
            *@
            @Html.Partial("_NavBar")
            <div class="choosecity">
                <div class="first">
                    <p class="fromTo">From : </p>
                    <input type="text" id="from" placeholder="Choose city" aria-autocomplete="list">
                </div>
                <div class="second">
                    <p class="fromTo">To : </p>
                    <input type="text" id="to" placeholder="Choose city" aria-autocomplete="list">
                </div>
            </div>
        </header>
        <div class="category">
            <div class="middle">
                <a class="but" href="#">
                    <i class="fas fa-plane"></i>
                    <p class="ctg">Plane</p>

                </a>
                <a class="but" href="#">
                    <i class="fa fa-bus" aria-hidden="true"></i>
                    <p class="ctg">Bus</p>
                </a>
                <a class="but" href="#">
                    <i class="fa fa-train" aria-hidden="true"></i>
                    <p class="ctg">Train</p>
                </a>
                <a class="but" href="#">
                    <i class="fa fa-car" aria-hidden="true"></i>
                    <p class="ctg">Car</p>
                </a>
            </div>
        </div>
        <div class="statment">
            <h1>Choose your transportation with</h1><br>
            <h2>Bussines Trip Advisor</h2>
            <p class="fewwords">
                Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
            </p>
        </div>
        <div id="ponuda">
            <div id="card">
                <div class="row ">
                    <div class="picbox">
                        <div class="pic">

                        </div>
                    </div>
                    <div class="descriptionBox">
                        <div class="card-block px-3">
                            <h2 class="card-title">Dublin</h2>
                            <p class="cardText">
                                Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                            </p>
                            <a href="#" class="btn btn-primary">Read More</a>
                        </div>
                    </div>

                </div>
            </div>
            <!--Second Card-->
            <div id="card">
                <div class="row ">
                    <div class="picbox">
                        <div class="pic">

                        </div>
                    </div>
                    <div class="descriptionBox">
                        <div class="card-block px-3">
                            <h2 class="card-title">Dublin</h2>
                            <p class="cardText">
                                Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                            </p>
                            <a href="#" class="btn btn-primary">Read More</a>
                        </div>
                    </div>

                </div>
            </div>
            <!--Third Card-->
            <div id="card">
                <div class="row ">
                    <div class="picbox">
                        <div class="pic">

                        </div>
                    </div>
                    <div class="descriptionBox">
                        <div class="card-block px-3">
                            <h2 class="card-title">Dublin</h2>
                            <p class="cardText">
                                Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                            </p>
                            <a href="#" class="btn btn-primary">Read More</a>
                        </div>
                    </div>

                </div>
            </div>
            <!--Fourth Card-->
            <div id="card">
                <div class="row ">
                    <div class="picbox">
                        <div class="pic">

                        </div>
                    </div>
                    <div class="descriptionBox">
                        <div class="card-block px-3">
                            <h2 class="card-title">Dublin</h2>
                            <p class="cardText">
                                Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                            </p>
                            <a href="#" class="btn btn-primary">Read More</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        @*
            <footer>
                <p>Follow us on social media:</p>
                <div class="social">
                    <a href="https://www.facebook.com/TripAdvisor/" target="_blank"><img src="img/icons8-facebook-circled-48.png" alt="facebook"></a>
                    <a href="https://www.instagram.com/tripadvisor/?hl=sr" target="_blank"><img src="img/icons8-instagram-48.png" alt="instagram"></a>
                    <a href="https://twitter.com/tripadvisor" target="_blank"><img src="img/icons8-twitter-circled-48.png" alt="twitter"></a>
                </div>
                <hr>
                <p>Copyright 2019 BTA</p>
            </footer>
        *@
        @Html.Partial("_Footer")
    </div>

    <script type="text/javascript">
        //toogle button
        $(document).ready(function () {
            $(".menu-icon").on("click", function () {
                $("nav ul li").toggleClass("showing");
            });
        });

        //scrolling effect
        $(window).on("scroll", function () {
            if ($(window).scrollTop()) {
                $('nav').addClass('black');
            }
            else {
                $('nav').removeClass('black');
            }
        })

    </script>
</body>
</html>